---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import SobreElToreno from '../components/SobreElTorneo.astro';
import Carrusel from '../components/Carrusel.astro'
import EventosExtra from '../components/EventosExtra.astro';
import Footer from '../components/Footer.astro';
import Inscripcion from '../components/Inscripcion.astro';
import Button from '../components/Button.astro';
---

<Layout title="Litter Torneo">
	
	<main>
		<!-- En un fuuturo el cambio a la pagina del inicio tendremos que hacerle un href a la pagina publicada (por que no se refrescan las imagenes)-->
		<!-- Border all page -->
		<div class="">
			<Header></Header>
		</div>
	</main>

	<section>
		<Carrusel></Carrusel>
	</section>

	<div class="my-6 font-arvo font-bold font-staatliches text-5xl text-center">
		<h1 class="text-lime-800">II Torneo E-Sports Interciclos</h1>
	</div>

	<div class="flex justify-center items-center my-6">
		<Button>INCRIBETE AQUí</Button>
	</div>

	<article class="gap-4 md:grid grid-cols-2 mt-4 px-8 md:px-32">
		<Inscripcion/>
		<SobreElToreno></SobreElToreno>
		<div class="col-span-2">
			<EventosExtra/>
		</div>
	</article>
	

	<Footer></Footer>
</Layout>
