---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import SobreElToreno from '../components/SobreElTorneo.astro';
import Carrusel from '../components/Carrusel.astro'
import EventosExtra from '../components/EventosExtra.astro';
import Footer from '../components/Footer.astro';
import Inscripcion from '../components/Inscripcion.astro';
---

<Layout title="Litter Torneo">
	<main>
		<!-- Border all page -->
		<div class="">
			<Header></Header>
		</div>
	</main>

	<section>
		<Carrusel></Carrusel>
	</section>

	<div class="my-4 font-arvo font-bold font-staatliches text-5xl text-center">
		<h1 class="text-lime-800">Litter Torneo</h1>
	</div>
	
	<article class="gap-4 md:grid grid-cols-2 mt-4 px-8 md:px-32">
		<SobreElToreno></SobreElToreno>
		<Inscripcion/>
		<div class="col-span-2">
			<EventosExtra/>
		</div>
	</article>
	

	<Footer></Footer>
</Layout>
