---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import SobreElToreno from '../components/SobreElTorneo.astro';
import Carrusel from '../components/Carrusel.astro'
import EventosExtra from '../components/EventosExtra.astro';
import Footer from '../components/Footer.astro';
import Inscripcion from '../components/Inscripcion.astro';
import LayoutPruebas from '../layouts/LayoutPruebas.astro';
---

<LayoutPruebas title="prueba">
	<main>
		<!-- Border all page -->
		<div class="">
			<Header></Header>
		</div>
	</main>

    <article>
        <h1 class="font-arvo font-bold font-staatliches text-5xl text-center">Hola esto es un test</h1>

        
    </article>
	

	<Footer></Footer>
</LayoutPruebas>
