<a href="https://forms.gle/wJJEMzyYpc2eP4Pn9" target="_blank">
    <button class="bg-lime-400 hover:bg-lime-600 px-4 py-4 rounded-lg font-arvo font-bold font-staatliches text-5xl text-center text-white animate-bounce">
        <slot />
    </button>
</a>
