<div class="flex justify-between px-2 md:px-32">
    <div class="flex gap-8 text-black self-center">
        <a href="/" class="hover:text-green-600 cursor-pointer"><span class="md:inline hidden">01.</span> Inicio</a>
        <a href="/juegos" class="hover:text-green-600 cursor-pointer"><span class="md:inline hidden">02.</span> Videojuegos</a>
    </div>

    <div>
        <img class="w-44 md:w-48 h-auto" src="https://colegiolitterator.com/wp-content/uploads/2023/12/ColegioLitterator.svg" alt="">
    </div>
</div>
<hr class="border-0 bg-gradient-to-r from-green-100 via-green-300 to-green-100 shadow-xl mt-2 w-full h-1">

