<div class="bg-white/60 shadow-md my-4 p-4 rounded-lg w-full text-lime-600">
    <h1 class="font-arvo font-bold font-staatliches text-4xl">
        01. Sobre el torneo
    </h1>

    <div class="justify-start mt-4 text-black">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper nunc vitae feugiat iaculis. Sed non magna eu magna tincidunt dapibus. Donec odio purus, lacinia vitae hendrerit vel, venenatis quis tortor. Mauris elementum quis nisl sed vestibulum.
    </div>
</div>